# URL del backend de PocketBase
# En local (desarrollo): suele ser tu IP local o localhost, ej: http://192.168.0.100:8090
# En producción: la URL pública de tu backend, ej: https://api.tu-dominio.com
EXPO_PUBLIC_API_URL=http://127.0.0.1:8090
